# Métodos de interpolação

In [1]:
import pandas as pd

In [3]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [4]:
# Atribuir 0 a todos os valores nulos da Series 
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [5]:
# O fillna com method ffill interpola os valores nulos com o valor anterior
# Utilizado para que não atrapalhe uma predição
# Não é o method mais utilizado
s.fillna(method='ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [7]:
# Faz a mesma coisa que o method ffill porem que é de baixo para cima
s.fillna(method='bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [8]:
# Atribuir aos nulos a média dos outros valores
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [10]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [12]:
# O fillna com method ffill interpola os valores nulos com o valor anterior
# Utilizado para que não atrapalhe uma predição
# Não é o method mais utilizado
# O limit faz a limitação de "duplicação" que se houver 2 nulo encarriado, somente o primeira vai ser preenchido com o anterios
s1 = s.fillna(method='ffill', limit=1)

In [14]:
# O s1 esta com um limite de um preenchimento de nulos e se houver valores nulos ainda, vamos inverter e preenchelos
# com proximo valor
s1.fillna(method='bfill', limit=1)

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64