# Relatório de Análise V

## Tratamento de Dados Faltantes

In [25]:
import pandas as pd

In [26]:
dados = pd.read_csv('../dados/aluguel_residencial.csv', sep=';')
dados.head(5)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [27]:
# Atribuir false a campos que estão nulos com o notnull
dados.notnull()
# Atribuir true a campos que estão nulos com o isnull
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
5      False   False    False  False   False  False  False       False  False
6      False   False    False  False   False  False  False        True   True
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False       False  False
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False   True
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False        True   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False       False  False
17     False   False    False  False   False  False  False       False  False
18     False   False    False  False   False  False  False       False   True
19     False   False    False  False   False  False  False       False   True
20     False   False    False  False   False  False  False       False   True
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False  False
23     False   False    False  False   False  False  False       False  False
24     False   False    False  False   False  False  False        True   True
25     False   False    False  False   False  False  False       False   True
26     False   False    False  False   False  False  False       False  False
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False   True
29     False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22550  False   False    False  False   False  False  False       False  False
22551  False   False    False  False   False  False  False       False  False
22552  False   False    False  False   False  False  False       False  False
22553  False   False    False  False   False  False  False       False  False
22554  False   False    False  False   False  False  False       False  False
22555  False   False    False  False   False  False  False       False   True
22556  False   False    False  False   False  False  False       False   True
22557  False   False    False  False   False  False  False       False  False
22558  False   False    False  False   False  False  False        True  False
22559  False   False    False  False   False  False  False       False  False
22560  False   False    False  False   False  False  False       False  False
22561  False   False    False  False   False  False  False       False  False
22562  False   False    False  False   False  False  False       False  False
22563  False   False    False  False   False  False  False       False  False
22564  False   False    False  False   False  False  False       False  False
22565  False   False    False  False   False  False  False       False  False
22566  False   False    False  False   False  False  False       False  False
22567  False   False    False  False   False  False  False       False  False
22568  False   False    False  False   False  False  False       False   True
22569  False   False    False  False   False  False  False       False  False
22570  False   False    False  False   False  False  False       False  False
22571  False   False    False  False   False  False  False       False  False
22572  False   False    False  False   False  False  False       False  False
22573  False   False    False  False   False  False  False       False   True
22574  False   False    False  False   False  False  False       False  False
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [28]:
# Listar informações sobre o DataFrame
# Com eles podemos identificar os campos que contem valores nulos
# Campos que contem valores nulos, Valor, Condominio, IPTU
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          22580 non-null object
Bairro        22580 non-null object
Quartos       22580 non-null int64
Vagas         22580 non-null int64
Suites        22580 non-null int64
Area          22580 non-null int64
Valor         22571 non-null float64
Condominio    20765 non-null float64
IPTU          15795 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [31]:
# Atribuir true para campos nulos e False para campos não nulos
dados['Valor'].isnull()
# Criando DataFrame atraves dos registros que contem nulo no campo Valor
dados[dados['Valor'].isnull()]
# Criando DataFrame atraves dos registros que contem nulo no campo Valor, Condominio e IPTU
dados[dados['Valor'].isnull() | dados['Condominio'].isnull() | dados['IPTU'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
35,Apartamento,Recreio dos Bandeirantes,2,2,2,90,3000.0,1340.0,NaN
36,Apartamento,Recreio dos Bandeirantes,3,2,2,100,2600.0,380.0,NaN
44,Casa de Condomínio,Barra da Tijuca,5,10,5,1600,25000.0,1600.0,NaN
54,Apartamento,Ipanema,3,2,1,150,8000.0,2400.0,NaN
56,Casa,Méier,2,0,0,51,1500.0,50.0,NaN
57,Apartamento,Jardim Botânico,2,2,0,95,4000.0,1170.0,NaN
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
61,Casa de Condomínio,Freguesia (Jacarepaguá),5,3,1,140,2500.0,1200.0,NaN
70,Apartamento,Bonsucesso,2,1,0,77,1500.0,740.0,NaN
73,Apartamento,Laranjeiras,2,1,0,54,2300.0,582.0,NaN
74,Quitinete,Centro,0,0,0,30,800.0,505.0,NaN
75,Apartamento,Jacarepaguá,2,1,1,69,2000.0,780.0,NaN
83,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
85,Casa de Vila,Piedade,2,1,0,70,1300.0,NaN,NaN
89,Apartamento,Olaria,2,1,0,53,1100.0,160.0,NaN
90,Quitinete,Copacabana,1,0,0,29,1200.0,460.0,NaN
...,...,...,...,...,...,...,...,...,...
22479,Apartamento,Méier,3,0,0,79,1600.0,270.0,NaN
22482,Quitinete,Flamengo,1,0,0,23,900.0,605.0,NaN
22487,Apartamento,Parada de Lucas,2,1,0,55,900.0,140.0,NaN
22489,Apartamento,Barra da Tijuca,2,1,1,67,1600.0,750.0,NaN
22490,Apartamento,Copacabana,3,0,1,110,3000.0,900.0,NaN
22492,Apartamento,Campo Grande,2,1,1,90,1600.0,600.0,NaN
22496,Apartamento,Recreio dos Bandeirantes,1,1,1,79,1900.0,479.0,NaN
22501,Apartamento,Curicica,2,1,0,50,800.0,410.0,NaN
22502,Quitinete,Centro,1,0,0,24,1100.0,323.0,NaN
22503,Apartamento,Méier,2,1,0,64,1100.0,644.0,NaN
22505,Apartamento,Cascadura,2,1,1,56,1200.0,568.0,NaN
22510,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
22513,Apartamento,Irajá,2,1,0,62,1000.0,300.0,NaN
22516,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
22519,Apartamento,Campo Grande,2,1,0,45,770.0,230.0,NaN
22523,Apartamento,Barra da Tijuca,4,3,4,366,12800.0,3157.0,NaN
22526,Apartamento,Recreio dos Bandeirantes,4,2,2,230,7000.0,1490.0,NaN
22529,Apartamento,Taquara,2,1,1,71,1300.0,470.0,NaN
22530,Apartamento,Irajá,2,1,0,50,900.0,300.0,NaN
22535,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
22538,Apartamento,Recreio dos Bandeirantes,3,2,1,113,2100.0,611.0,NaN
22543,Apartamento,Olaria,2,0,0,67,1250.0,150.0,NaN
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22548,Apartamento,Flamengo,1,0,0,48,2200.0,478.0,NaN
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [38]:
# DataFrame antes de qualquer alteração
A = dados.shape[0]
# Remover registros que estão com o campo valor Nulo
# O inplace aplica a alteração no proprio dados sem ter que reatribuir o retorno de dropna
dados.dropna(subset=['Valor'], inplace=True)
# Tamanho do DataFrame depois de remover os registros com valor nulos
B = dados.shape[0]
# Quantidade de itens removidos
A - B

0

In [40]:
# Listando registro que contem nulos no campo Valor (Validando o dropna)
dados[dados['Valor'].isnull()]
# Não contem nenhum registro com valor

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

## Tratamento de Dados Faltantes (continuação)

In [44]:
# Criando DataFrame que contem somente os registro com Condominio nulo e listando o tamanho do DataFrame
dados[dados['Condominio'].isnull()].shape[0]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
83,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
85,Casa de Vila,Piedade,2,1,0,70,1300.0,NaN,NaN
100,Casa,Maracanã,8,3,5,259,7000.0,NaN,NaN
104,Casa,Benfica,1,0,0,33,1200.0,NaN,NaN
117,Apartamento,Rocha Miranda,2,1,0,50,1100.0,NaN,NaN
133,Apartamento,Barra da Tijuca,1,1,1,65,2350.0,NaN,NaN
150,Casa,Jardim Carioca,3,2,1,135,3000.0,NaN,NaN
166,Casa,Lins de Vasconcelos,2,0,0,40,950.0,NaN,50.0
178,Apartamento,Cidade Nova,1,0,0,46,1000.0,NaN,NaN
184,Apartamento,Olaria,1,0,0,39,800.0,NaN,NaN
193,Apartamento,Leblon,3,0,1,85,8500.0,NaN,1719.0
205,Apartamento,Tomás Coelho,2,0,0,70,800.0,NaN,NaN
230,Casa de Vila,Oswaldo Cruz,1,0,1,40,800.0,NaN,NaN
248,Casa,Grajaú,5,4,2,450,7000.0,NaN,500.0
263,Casa,Campo Grande,3,0,0,200,2100.0,NaN,NaN
274,Casa,Bonsucesso,2,0,0,51,1000.0,NaN,NaN
276,Apartamento,Campo Grande,2,0,1,58,1000.0,NaN,NaN
297,Casa,Engenho Novo,2,0,0,70,1100.0,NaN,NaN
314,Casa de Vila,Quintino Bocaiúva,2,1,0,48,750.0,NaN,NaN
321,Casa,Jardim Botânico,2,4,1,107,9500.0,NaN,1091.0
327,Casa,Recreio dos Bandeirantes,4,4,2,367,12000.0,NaN,653.0
345,Casa,Botafogo,12,5,0,500,18000.0,NaN,1800.0
350,Casa,Catete,10,0,10,300,15000.0,NaN,220.0
...,...,...,...,...,...,...,...,...,...
22190,Casa,Irajá,2,1,1,60,1150.0,NaN,NaN
22192,Casa,Jardim Botânico,7,6,4,845,35000.0,NaN,NaN
22198,Casa,Turiaçu,2,1,0,45,700.0,NaN,NaN
22199,Apartamento,Riachuelo,2,0,0,43,900.0,NaN,16.0
22214,Apartamento,Copacabana,1,0,0,30,2600.0,NaN,NaN
22242,Apartamento,Anil,2,0,0,48,1070.0,NaN,NaN
22276,Apartamento,Campo Grande,1,0,0,40,480.0,NaN,NaN
22290,Casa,Campo Grande,2,0,0,116,1100.0,NaN,NaN
22293,Casa,Centro,2,0,0,207,4000.0,NaN,NaN
22303,Casa,Campo Grande,3,0,1,140,1500.0,NaN,NaN
22309,Apartamento,Campo Grande,3,0,0,52,900.0,NaN,NaN
22311,Casa,Taquara,3,3,0,280,4000.0,NaN,1200.0
22328,Apartamento,Copacabana,3,0,0,130,4600.0,NaN,NaN
22329,Casa,Rocha Miranda,1,0,0,44,700.0,NaN,NaN
22332,Casa,Andaraí,3,1,0,75,2950.0,NaN,NaN
22338,Casa de Vila,Quintino Bocaiúva,2,0,0,58,1000.0,NaN,NaN
22356,Apartamento,Guadalupe,1,0,0,40,550.0,NaN,NaN
22365,Casa,Engenho Novo,1,0,0,40,450.0,NaN,NaN
22373,Apartamento,Bonsucesso,1,0,0,60,1000.0,NaN,NaN
22403,Apartamento,Flamengo,2,0,0,59,3500.0,NaN,NaN
22420,Casa,Maracanã,4,2,1,240,6500.0,NaN,700.0
22425,Casa,Campo Grande,2,1,2,86,1500.0,NaN,NaN
22452,Casa,Vila da Penha,2,1,0,80,1500.0,NaN,NaN
22469,Casa de Vila,Riachuelo,3,0,0,73,850.0,NaN,NaN
22474,Apartamento,Cascadura,3,0,1,70,1200.0,NaN,NaN
22510,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
22516,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
22535,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0

In [48]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [49]:
# DataFrame antes de qualquer alteração
A = dados.shape[0]
# Selecionar somente os valores True de selecao no DataFrame dados
# o ~ nega o DataFrame booleano, o que é False vira True e vice-versa
dados = dados[~selecao]
# Tamanho do DataFrame depois de remover os registros com valor nulos
B = dados.shape[0]
# Quantidade de itens removidos
A - B

745

In [51]:
# Criando DataFrame que contem somente os registro com Condominio nulo e listando o tamanho do DataFrame
dados[dados['Condominio'].isnull()].shape[0]

1068

In [53]:
# A função fillna atribui um valor a todos os campos nulos do DataFrame
# O inplace aplica a alteração no proprio dados sem ter que reatribuir o retorno de dropna
# dados.fillna(0, inplace=True)
# Ou podemos atribuir um valor atraves de um dicionario
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [55]:
# Verificando se depois do tratamento ainda contem algum campo nulo
# Criando DataFrame que contem somente os registro com Condominio nulo e listando o tamanho do DataFrame
dados[dados['Condominio'].isnull()].shape[0]

0

In [56]:
# Verificando se depois do tratamento ainda contem algum campo nulo
# Criando DataFrame que contem somente os registro com Condominio nulo e listando o tamanho do DataFrame
dados[dados['IPTU'].isnull()].shape[0]

0

In [57]:
# Listando as informações do DataFrame e analisando se contem algum campo nulo
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          21826 non-null object
Bairro        21826 non-null object
Quartos       21826 non-null int64
Vagas         21826 non-null int64
Suites        21826 non-null int64
Area          21826 non-null int64
Valor         21826 non-null float64
Condominio    21826 non-null float64
IPTU          21826 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [58]:
# Exportando o DataFrame para um arquivo CSV com o separdor ";" e sem os index.
dados.to_csv('../dados/aluguel_residencial.csv', sep=';', index=False)