# Relatório de Analise VII

## Criando Agrupamentos

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('../dados/aluguel_residencial.csv', sep=';')

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

#### https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [5]:
# Calculando a média de todos os valores
dados['Valor'].mean()

5046.172821405663

In [6]:
# Criar seleção para nós selecionar somente os dados com os bairros abaixo
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [7]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,Casa
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento

In [8]:
dados['Bairro'].drop_duplicates()

0          Copacabana
5     Barra da Tijuca
15             Tijuca
19            Ipanema
23           Botafogo
27             Leblon
78           Flamengo
Name: Bairro, dtype: object

In [9]:
# Realizar um agrupamento pela variavel Bairro
grupo_bairro = dados.groupby('Bairro')

In [10]:
# Ao criar um agrupamento, o retorno é um objeto DataFrameGroupBy do pandas
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [13]:
# A função groups é utilizada para podermos visualizar os grupos criados. 
# Cada grupo tem como valor um array de index de cada imovel
grupo_bairro.groups

{'Barra da Tijuca': Int64Index([    5,    14,    16,    21,    30,    32,    35,    42,    43,
                60,
             ...
             21769, 21771, 21774, 21782, 21800, 21801, 21811, 21812, 21813,
             21820],
            dtype='int64', length=3863),
 'Botafogo': Int64Index([   23,    48,    87,    88,   111,   119,   127,   134,   196,
               200,
             ...
             21471, 21487, 21499, 21529, 21653, 21660, 21666, 21715, 21746,
             21790],
            dtype='int64', length=873),
 'Copacabana': Int64Index([    0,     9,    10,    11,    24,    25,    28,    31,    86,
                91,
             ...
             21707, 21713, 21736, 21743, 21780, 21783, 21795, 21809, 21810,
             21815],
            dtype='int64', length=2644),
 'Flamengo': Int64Index([   78,   138,   218,   284,   321,   347,   356,   361,   369,
               393,
             ...
             21527, 21560, 21581, 21629, 21680, 21704, 21728, 21731, 21740,
             21794],
            dtype='int64', length=714),
 'Ipanema': Int64Index([   19,    39,    40,    45,    52,    53,    73,    84,    92,
               114,
             ...
             21718, 21722, 21730, 21739, 21744, 21745, 21754, 21788, 21796,
             21817],
            dtype='int64', length=1764),
 'Leblon': Int64Index([   27,    59,    90,    97,   115,   133,   161,   167,   171,
               213,
             ...
             21721, 21761, 21770, 21777, 21785, 21786, 21787, 21808, 21816,
             21825],
            dtype='int64', length=1258),
 'Tijuca': Int64Index([   15,    18,    20,    80,    82,   126,   145,   149,   158,
               164,
             ...
             21573, 21577, 21607, 21610, 21661, 21675, 21714, 21729, 21773,
             21818],
            dtype='int64', length=1100)}

In [29]:
dados['Bairro'][20]

'Tijuca'

In [34]:
# O agrupamento é um DataFrameGroupBy que cada item é um DataFrame para cada bairro.
for bairro, dados in grupo_bairro:
    print(type(dados))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [35]:
# Podemos calcular a media de cada DataFrame do agrupamento
for bairro, dados in grupo_bairro:
    print('{} -> {}'.format(bairro, dados['Valor'].mean()))

Barra da Tijuca -> 7069.552938130986
Botafogo -> 8791.828178694159
Copacabana -> 4126.677004538578
Flamengo -> 4113.526610644258
Ipanema -> 9352.001133786847
Leblon -> 8746.344992050874
Tijuca -> 2043.52

In [36]:
# Porem podemos calcular a media de cada DataFrame do agrupamento de forma mais simples
grupo_bairro['Valor'].mean()

Bairro
Barra da Tijuca    7069.552938
Botafogo           8791.828179
Copacabana         4126.677005
Flamengo           4113.526611
Ipanema            9352.001134
Leblon             8746.344992
Tijuca             2043.520000
Name: Valor, dtype: float64

In [38]:
# Podemos calcular a media de mais de uma variavel, por exemplo Valor e condominio
# O retorno é um DataFrame 
# Vamos formatar a media para arredondar para 2 casas decimais
grupo_bairro[['Valor','Condominio']].mean().round(2)

                   Valor  Condominio
Bairro
Barra da Tijuca  7069.55     3591.01
Botafogo         8791.83      976.28
Copacabana       4126.68     1148.68
Flamengo         4113.53     1102.15
Ipanema          9352.00     2244.44
Leblon           8746.34     2107.18
Tijuca           2043.52      711.69